@table-bgColor: rgba(247, 249, 255, 1);

.new-deal {
  // height: 1032px;
  box-sizing: border-box;
  border: 1px solid #eee;
  border-bottom: 0;
  margin-bottom: 50px;
  header {
    p {
      line-height: 56px;
      padding-left: 20px;
      font-size: 16px;
    }
  }
  main {
    .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
      font-size: 12px;
      padding: 3px 10px;
      word-break: break-word;
    }
    .ant-table-thead > tr > th {
      background: @table-bgColor !important;
    }
    // 设置table隔行第二个元素的字体颜色
    .ant-table-tbody > tr:nth-child(odd) > td:nth-child(2) {
      color: #E95454FF;
    }
    .ant-table-tbody > tr:nth-child(even) > td:nth-child(2) {
      color: #1AB781FF;
    }
    // 滑轮样式
    .ant-table-header::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }
    .ant-table-body::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }
    .ant-table-header::-webkit-scrollbar-thumb {
      width: 8px;
      background: @table-bgColor;
    }
    .ant-table-body::-webkit-scrollbar-thumb {
      width: 8px;
      border-radius: 8px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
      background: hsla(0, 0, 75.7%, 0.8);
    }
    .ant-table-header::-webkit-scrollbar-track {
      background: @table-bgColor;
    }
    .ant-table-body::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
      background: #fff;
    }
    .title {
      width: 100%;
      height: 24px;
      line-height: 24px;
      font-size: 12px;
      color: #333;
      font-weight: bold;
      background: #F3F6FF;
      position: relative;
      text-align: center;
      p {
        position: absolute;
        top: 0;
      }
      p:nth-child(1) {
        width: 33%;
        left: 0%;
      }
      p:nth-child(2) {
        width: 33%;
        left: 33%;
      }
      p:nth-child(3) {
        width: 34%;
        left: 66%;
      }
    }
    .content {
      width: 100%;
      background: #fff;
      ul {
        padding: 0;
        margin: 0;
        position: relative;
        text-align: center;
        line-height: 24px;
        border-bottom: 1px solid #eee;
        height: 24px;
        li {
          padding: 0;
          margin: 0;
          position: absolute;
          list-style: none;
          font-size: 12px;
          color: #666;
          top: 0;
          &:nth-child(1) {
            left: 0;
            width: 33%;
          }
          &:nth-child(2) {
            left: 33%;
            width: 33%;
            color: #E95454;
          }
          &:nth-child(3) {
            left: 66%;
            width: 34%;
          }
        }
      }
    }
    .loading {
      width: 100%;
      height: 300px;
      line-height: 200px;
      text-align: center;
    }
  }
}