.trade-right-layout-header {
  height: 58px;
  background: #fff;
  border: 1px solid #eee;
  margin-bottom: 12px;
  padding: 0;
  position: relative;
  .coinType {
    position: absolute;
    top: 0;
    left: 19px;
    height: 100%;
    line-height: 58px !important;
    font-size: 18px;
    font-weight: bold;
    color: #333333FF;
    img {
      width: 12px;
      transform: translateY(-2px);
    }
  }
  .newPrice {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 13.8328%;
    .newPrice-left {
      margin-right: 5px;
      text-align: center;
      height: 58px;
      .newPrice-box {
        padding-top: 12px;
        .newPrice-left-title {
          font-size: 12px;
          color: #999999FF;
          margin-bottom: 9px;
        }
        .newPrice-left-price {
          font-size: 14px;
          color: #1AB781FF;
        }
      }
    }
    .newPrice-right {
      font-size: 12px;
      color: #666666FF;
      line-height: 58px;
    }
  }
  .highAndLow {
    padding-top: 12px;
    position: absolute;
    top: 0;
    left: 32.0593%;
    text-align: center;
    .title {
      font-size: 12px;
      color: #999999FF;
      margin-bottom: 11px;
    }
    .percentage {
      font-size: 14px;
      color: #E95454FF;
    }
  }
  .highestPrice, .lowestPrice, .volume, .turnover {
    position: absolute;
    top: 0;
    padding-top: 12px;
    text-align: center;
    .title {
      font-size: 12px;
      color: #999999FF;
      margin-bottom: 11px;
    }
    .percentage {
      font-size: 14px;
      color: #E95454FF;
    }
  }
  .highestPrice {
    left: 41.6426%;
  }
  .lowestPrice {
    left: 54.3227%;
  }
  .volume {
    left: 66.8587%;
  }
  .turnover {
    left: 79.6829%;
  }
}